{% extends 'base.html.twig' %}

{% block body %}
 <h1>Modifier les données du patient</h1>

{{  include ('admin/patient/_form.html.twig', {form: form, Button: 'Editer'})}}
 {% endblock %}




{% block javascripts %}

{% endblock %}
