{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% extends 'base.html.twig' %}

{% block title %} Modification rendez-vous {% endblock %}

{% block body %}
    <h3> Rendez-vous de {{ booking.patient.FullName }}</h3>

    {{ include('booking/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
{% block javascripts %}

{% endblock %}